**/out/
**/temp/
**/MANIFEST.MF
java/base/bin/
java/ot/bin/
java/oxygen/bin/
java/oxygen-extension-bundle/bin/
java/AdvancedKeyrefDialogTest/
java/base/.externalToolBuilders/
java/oxygen/.externalToolBuilders/DitaSemiaOxygen build.xml [Builder].launch
java/oxygen/.externalToolBuilders/
