
/* rules for generated dt elements */



/********************************************/
/* outputclass: default 						*/

*[class~="topic/dl"] > *[class~="topic/dd"][*|dt]:before(@{conbat-dt-index}) {
	display		: block;
    content		: attr("*|dt");
    margin-left	: -@dd-default-margin-left;
    .dt-default-style();
}



/********************************************/
/* outputclass: bullet-list-titles 			*/

*[class~="topic/dl"][outputclass='bullet-list-titles'] > *[class~="topic/dd"][*|dt]:before(@{conbat-dt-index}) {
    margin-left	: 0;
}

*[class~="topic/dl"][outputclass='bullet-list-titles'] > *[class~="topic/dd"] {
	display		: list-item;
	list-style	: disc;
	margin-left	: 0;
}


/********************************************/
/* outputclass: bullet-list-dashes 			*/

*[class~="topic/dl"][outputclass='bullet-list-dashes'] > *[class~="topic/dd"][*|dt]:before(@{conbat-dt-index}) {
	display		: inline;
    margin-left	: 0;
    content		: attr("*|dt") " – ";
}

*[class~='topic/dl'][outputclass='bullet-list-dashes'] > *[class~='topic/dd'] {
	display		: list-item;
	margin-left	: 0;
}


/********************************************/
/* outputclass: table			 			*/

*[class~='topic/dl'][outputclass='cba-table'] {
	display				: block;
    width				: 95%;
    margin				: 1.5ex 0.5ex;
    border-color		: black;
    border-top-style	: double;
    border-bottom-style	: double;
    border-width		: 4px;
    padding				: 0px;
}

*[class~="topic/dl"][outputclass='cba-table'] > *[class~="topic/dd"][*|dt]:before(@{conbat-dt-index}) {
	display		: inline;
	content		: oxy_label(text, attr("*|dt"), width, 28%);
	margin-left	: 0;
}

*[class~='topic/dl'][outputclass='cba-table'] > *[class~='topic/dd'] {
	display		: table-cell;
    padding		: 1px 10px;
    margin-left	: 0;
    /*margin-top	: -1.35em;*/
}
*[class~='topic/dl'][outputclass='cba-table'] > *[class~='topic/dd']:not(:first-child) {
    border-color		: black;
    border-top-style	: solid;
    border-width		: 1px;
}

