
/* The content is displayed right in front of or behind the actual content. */

/* prefix */
*[class~="topic/p"][*|prefix]:before(@{conbat-inline-index}),
*[class~="topic/ph"][*|prefix]:before(@{conbat-inline-index}),
*[class~="topic/sli"][*|prefix]:before(@{conbat-inline-index}),
*[class~="topic/stentry"][*|prefix]:before(@{conbat-inline-index}),
*[class~="topic/title"][*|prefix]:before(@{conbat-inline-index}),
*[class~="topic/xref"][*|prefix]:before(@{conbat-inline-index}),
*[class~="topic/dt"][*|prefix]:before(@{conbat-inline-index}) {
	content	: attr("*|prefix");
}

*[class~="pr-d/codeph"][*|prefix]:before(@{conbat-inline-index}),
*[outputclass~="code"][*|prefix]:before(@{conbat-inline-index}) {
	/* undo the font changes for codeph */
	font-family	: @body-font-family;
	font-size	: (1em / @code-font-size-scale);
	/* content is already generated for base class topic/ph */
}

[class~="topic/topic"] > *[class~="topic/title"][*|o-class~="code"][*|prefix]:before(@{conbat-inline-index}) {
	font-family	: @topic-title-font-family;
} 

*[class~="pr-d/codeph"][*|code-prefix]:before(@{conbat-inline-index}) {
	content	: attr("*|code-prefix");
}

/* suffix */
*[class~="topic/p"][*|suffix]:after(@{conbat-inline-index}),
*[class~="topic/ph"][*|suffix]:after(@{conbat-inline-index}),
*[class~="topic/sli"][*|suffix]:after(@{conbat-inline-index}),
*[class~="topic/stentry"][*|suffix]:after(@{conbat-inline-index}),
*[class~="topic/title"][*|suffix]:after(@{conbat-inline-index}),
*[class~="topic/xref"][*|suffix]:after(@{conbat-inline-index}),
*[class~="topic/dt"][*|suffix]:after(@{conbat-inline-index}) {
	content	: attr("*|suffix");
}

*[class~="pr-d/codeph"][*|suffix]:after(@{conbat-inline-index}) {
	/* undo the font changes for codeph */
	font-family	: @body-font-family;
	font-size	: (1em / @code-font-size-scale);
	/* content is already generated for base class topic/ph */
}

*[class~="pr-d/codeph"][*|code-suffix]:after(@{conbat-inline-index}) {
	content	: attr("*|code-suffix");
}

/* content */
*[class~="topic/p"][*|content],
*[class~="topic/ph"][*|content],
*[class~="topic/sli"][*|content],
*[class~="topic/stentry"][*|content],
*[class~="topic/title"][*|content],
*[class~="topic/dd"][*|content],
*[class~="topic/dt"][*|content] {
	content	: attr("*|content");
}

/* default-content */
*[class~="topic/p"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/ph"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/sli"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/stentry"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/title"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/dd"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/dt"][*|default-content]:empty:after(@{conbat-default-content-index}),
*[class~="topic/section"][*|default-content]:empty:after(@{conbat-default-content-index}) {
	/* have the cursor in front of the content to suggest the author that he can overwrite it */
	content	: attr("*|default-content");
}

