
/* rules for popup-edit of attributes */

*[*|popup-edit]:not([*|popup-edit='#text']):after(@{conbat-edit-index}) {
	content: oxy_combobox(
			edit,			oxy_concat('@', attr('*|popup-edit')),
			//selectionMode,	single,
			fontInherit,	true,
			color,			inherit,
			editable, 		false);
}

*[*|popup-edit][*|flags~='pe-italic']:not([*|popup-edit='#text']):after(@{conbat-edit-index}) {
	font-style	: italic;
}


*[*|popup-edit][*|pe-values][*|pe-labels]:not([*|popup-edit='#text']):after(@{conbat-edit-index}) {
	content: oxy_combobox(
			edit,			oxy_concat('@', attr('*|popup-edit')),
			values,			attr('*|pe-values'),
			labels,			attr('*|pe-labels'),
			//selectionMode,	single,
			fontInherit,	true,
			color,			inherit,
			editable, 		false);
}

*[*|flags~="pe-braced"][*|popup-edit]:after(@{conbat-edit-brace1-index}) {
	content: " (";
}

*[*|popup-edit][*|pe-prefix]:after(@{conbat-edit-prefix-index}) {
	content: attr('*|pe-prefix');
}

*[*|flags~="pe-braced"][*|popup-edit]:after(@{conbat-edit-brace2-index}) {
	content: ")";
}

*[*|flags~='code'][*|popup-edit]:after(@{conbat-edit-brace1-index}),
*[*|flags~='code'][*|popup-edit]:after(@{conbat-edit-index}),
*[*|flags~='code'][*|popup-edit]:after(@{conbat-edit-brace2-index}) {
	/* undo the font changes for codeph */
	font-family	: @body-font-family;
	font-size	: (1em /@code-font-size-scale);
}

*[*|popup-edit='#text'] {
	visibility				: -oxy-collapse-text;
	-oxy-show-placeholder	: inherit !important;
	content: oxy_combobox(
			edit,			oxy_concat('#text'),
			//selectionMode,	single,
			fontInherit,	true,
			color,			inherit,
			editable, 		false);
}


*[*|popup-edit][*|flags~='pe-italic'][*|popup-edit='#text'] {
	font-style	: italic;
}

*[*|popup-edit][*|flags~='pe-italic'][*|popup-edit='#text']:before(@{conbat-inline-index}) {
	font-style	: normal;
}


*[*|popup-edit='#text'][*|pe-values][*|pe-labels] {
	visibility				: -oxy-collapse-text;
	-oxy-show-placeholder	: inherit !important;
	content: oxy_combobox(
			edit,			oxy_concat('#text'),
			values,			attr('*|pe-values'),
			labels,			attr('*|pe-labels'),
			//selectionMode,	single,
			fontInherit,	true,
			color,			inherit,
			editable, 		false);
}
